.links-section {
    float: right;
    line-height: 0px;
}

.links-section a {
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline;
}

.links-section a:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}

.show {
    display: inline-block;
}
